" 참고 link ---------------------------------------------------------------------

  "http://ideavim.sourceforge.net/vim/
  "https://github.com/JetBrains/ideavim/blob/master/doc/set-commands.md
  "https://gist.github.com/zchee/9c78f91cc5ad771c1f5d " action list

let mapleader=" "

" set commands -----------------------------------------------------------------

  set nu
  set hi=1000 "history=1000
  set hls     "hlsearch
  set ic      "ignorecase
  set is      "incsearch
  set scs     "smartcase
  set mps     "matchpairs
  set ul=2000 "undolevels

  " plugins
  set surround
  set commentary

" copy , paste , select 기능 보완 ------------------------------------------------
  nnoremap <Esc> <Esc>:w<CR>
  inoremap <Esc> <Esc>:w<CR>


  nnoremap Y y$
  nnoremap <SPACE>y "+y
  vnoremap <SPACE>y "+y
  nnoremap <SPACE>p "+p
  nnoremap <SPACE>a ggVG
  vnoremap <SPACE>a ggVG

" 키 navigation 기능 보완 ---------------------------------------------------------
  nnoremap <c-h> gT
  nnoremap <c-l> gt
  nnoremap <c-S-h> <c-w>h
  nnoremap <c-S-j> <c-w>j
  nnoremap <c-S-k> <c-w>k
  nnoremap <c-S-l> <c-w>l

" CLion
"nnoremap <Tab>u :action FindUsages<CR>
map <leader>r <Action>(ReformatCode)
map <leader>R <Action>(CMake.ReloadCMakeProject)
map <leader>d <Action>(Debug)
map <leader>E <Action>(GotoDeclaration)
map <leader>e <Action>(GotoImplementation)
map <leader>b <Action>(Back)
map <leader>f <Action>(Forward)
map <leader>w :wq<CR>

" Edit Configuration
nnoremap <Tab>, :e ~/.ideavimrc<CR>
nnoremap <F10>r :source ~/.ideavimrc<CR>

" ETC
set ideajoin
set ideamarks


set easymotion

nmap sl <Plug>(easymotion-lineforward)
nmap sj <Plug>(easymotion-j)
nmap sk <Plug>(easymotion-k)
nmap sh <Plug>(easymotion-linebackward)
nmap sa <Plug>(easymotion-jumptoanywhere)
nmap sf <Plug>(easymotion-f)

